<section>
  <h1 class="text-yellow-300 text-xl text-center pt-5 font-bold">Nosotros</h1>
  <p class="text-white text-xl text-justify pt-5 px-5">Somos una empresa con varios años de experiencia en el rubro de parking car, la excelencia de nuestro servicios denota nuestro compromiso con cada uno de nuestros clientes, las opiniones de cada uno de ellos avala nuestro profesionalismo, porque entendemos la reposabilidad que cuidar tu vehículo, por ello es que nos empeñamos cada día más en brindar más y mejores servicios, siempre con la calidad que nos caracteriza.</p>
</section>
