<div class="containerSlider bg-gradient-to-t from-black to-gray-700 min-h-screen">
  <div class="splide md:h-full lx:h-full ">
    <div class="splide__track md:h-full lx:h-full">
        <ul class="splide__list">
            <li class="splide__slide relative animate__animated animate__fadeIn">

                <img class="object-cover w-full" src="../../../../assets/banner/banner1.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/banner2.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/BANNER3.png" alt="">
            </li>
        </ul>
    </div>

  </div>
  <section>
    <h1 class="text-yellow-300 text-xl text-center pt-5 font-bold">Nosotros</h1>
    <p class="text-white text-xl text-justify pt-5 px-5">Somos una empresa con varios años de experiencia en el rubro de parking car, la excelencia de nuestro servicios denota nuestro compromiso con cada uno de nuestros clientes, las opiniones de cada uno de ellos avala nuestro profesionalismo, porque entendemos la reposabilidad que cuidar tu vehículo, por ello es que nos empeñamos cada día más en brindar más y mejores servicios, siempre con la calidad que nos caracteriza.</p>
  </section>
  <section>
    <h1 class="text-yellow-300 text-xl text-center pt-5 font-bold mb-5">Servicios</h1>
    <div class="flex justify-center items-center w-full px-5">
      <!-- <div class="bg-white w-1/3">
        <div class="flex justify-center">
          <img class="h-10" src="../../../../assets/icons/services/garage.svg" alt="">
          <img class="h-10" src="../../../../assets/icons/services/carsecure.svg" alt="">
        </div>
        <p>Guarda de vehículos</p>
        <p>Cumplimos con los standares más altos en la industria, bajo condiciones optimas tu vehículo se encontrará seguro por el tiempo que determines. Contamos con seguridad las 24hs del día monitoreadas en todo momento. La seguridad de que tu vehículo está en buenas manos.</p>
      </div>
      <div class="bg-white w-1/3">
        <div class="flex justify-center">
          <img class="h-10" src="../../../../assets/icons/services/garage.svg" alt="">
          <img class="h-10" src="../../../../assets/icons/services/carsecure.svg" alt="">
        </div>        <p>Guarda de vehículos</p>
        <p>Cumplimos con los standares más altos en la industria, bajo condiciones optimas tu vehículo se encontrará seguro por el tiempo que determines. Contamos con seguridad las 24hs del día monitoreadas en todo momento. La seguridad de que tu vehículo está en buenas manos.</p>
      </div>
      <div class="bg-white w-1/3">
        <div class="flex justify-center">
          <img class="h-10" src="../../../../assets/icons/services/garage.svg" alt="">
          <img class="h-10" src="../../../../assets/icons/services/carsecure.svg" alt="">
        </div>        <p>Guarda de vehículos</p>
        <p>Cumplimos con los standares más altos en la industria, bajo condiciones optimas tu vehículo se encontrará seguro por el tiempo que determines. Contamos con seguridad las 24hs del día monitoreadas en todo momento. La seguridad de que tu vehículo está en buenas manos.</p>
      </div> -->
      <!-- <div>
        <img src="" alt="">
        <p>Limpieza y servicio técnico</p>
        <p>Tu vehículo siempre limpio y en perfectas condiciones técnicas gracias al minucioso mantenimiento que ponemos a tu disposición, para que tengas la garantía de que cuando vengas a buscarlo se encuentre en igual o mejores condiciones de cómo cuando nos lo dejaste.</p>
      </div>
      <div>
        <img src="" alt="">
        <p>Traslado</p>
        <p>Ponemos a tu disposicón un servicio sin cargo de traslado para tu grupo familiar y/o acompañantes hacia el aeropuesto. No te preocupes por la vuelta. Nosotros te vamos a buscar con previa coordinación de fecha y horarios.</p>
      </div> -->
      <div class="w-1/3 text-center">
        <button type="button" class="w-4/5 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><img class="h-8" src="../../../../assets/icons/services/garage.svg" alt="">Guarda</button>
      </div>
      <div class="w-1/3 text-center">
        <button type="button" class="w-4/5 m-auto text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><img class="h-8" src="../../../../assets/icons/services/maintenance.svg" alt=""><p>Service</p></button>
      </div>
      <div class="w-1/3 text-center">
        <button type="button" class="w-4/5 text-white bg-gradient-to-r from-yellow-400 via-yelow-500 to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><img class="h-8" src="../../../../assets/icons/services/bus.svg" alt="">Traslado</button>
      </div>
    </div>
  </section>
</div>
