<div class="containerSlider">
  <div class="splide md:h-full lx:h-full ">
    <div class="splide__track md:h-full lx:h-full">
        <ul class="splide__list">
            <li class="splide__slide relative animate__animated animate__fadeIn">

                <img class="object-cover w-full" src="../../../../assets/banner/banner1.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/banner2.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/BANNER3.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/BANNER3.png" alt="">
            </li>
        </ul>
    </div>

  </div>
</div>
