<div class="bg-gradient-to-t from-black to-gray-700 h-auto">
  <div class="splide md:h-full lx:h-full ">
    <div class="splide__track md:h-full lx:h-full">
        <ul class="splide__list">
            <li class="splide__slide relative animate__animated animate__fadeIn">

                <img class="object-cover w-full" src="../../../../assets/images/IMAGE1.png" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/icons/cochera.svg" alt="">
            </li>
            <li class="splide__slide relative">
                <img class="object-cover w-full " src="../../../../assets/banner/BANNER3.png" alt="">
            </li>
        </ul>
    </div>
  </div>
</div>
