

<footer class="bg-gradient-to-t from-black to-gray-700 border-gray-200 text-white dark:bg-gray-900 mt-5">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="https://flowbite.com/" class="flex items-center">
                <img src="../../../../assets/icons/cochera-white.svg" class="h-24 me-3" alt="FlowBite Logo" />

            </a>
        </div>
        <div class="grid grid-cols-1 gap-8 sm:gap-6 sm:grid-cols-1 text-left md:text-right">

            <div>
                <h2 class="mb-6 text-xl font-semibold text-white uppercase dark:text-white">Contacto</h2>
                <ul class="text-gray-300 dark:text-gray-300 text-xl font-medium">
                    <li class="mb-4  flex justify-start md:justify-end items-center text-right ">
                        <img class="w-5 mr-2" src="../../../../assets/icons/footer/email.svg" alt="">
                        <a href="mailto:yamibruno@outlook.com" class="hover:underline text-right ">yamibruno@outlook.com</a>
                    </li>
                    <li class="flex justify-start md:justify-end items-center text-right">
                        <img class="w-5 mr-2" src="../../../../assets/icons/footer/phone.svg" alt="">
                        <a href="tel:+541134242400" class="hover:underline text-right">1134242400</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Cocheras Aeropuerto Ezeiza</a>. Todos los derechos reservados.
        </span>

    </div>
  </div>
</footer>
